/*
255, 128, 0
255, 206, 0
255, 0, 36
*/

html{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 206, 0);
}

header{
    text-align: center;
    background-color: rgb(255, 0, 36);
    margin: 0px;
    border: 1px solid rgb(255, 0, 36);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

article{
    margin-top: 2%;
    background-color: rgb(255, 128, 0);
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    height: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
}

#flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.first-flex-item{
    background-color: rgb(255, 0, 36);
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    margin: 10px;
    border: none;

    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.first-flex-item:hover{
    background-color: rgb(255, 206, 0);
}

.profile-picture{
    width: 20px;
    margin-right: 5px;
}

.post-header{
    display: flex;
    text-align: center;
    align-items: center;
}

.post-image{
    margin: auto;
    border-radius: 5px;
    width: 100%;
}

.post-image-container{
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    border-radius: 5px;
}